@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300&display=swap");

button {
  width: 10vw;
  height: 6vh;
  border-radius: 30px;
  border: 3px solid #00539f;
  margin: 1vh 2vw;
  display: block;
  transition: all 0.3s ease-in-out;
}

button:hover {
  border: 3px solid black;
  background-color: #00539f;
  color: white;
}

button:active {
  border: 3px solid #00539f;
  background-color: white;
  color: #00539f;
}

.btn-text {
  display: flex;
  justify-content: center;
  margin: 0%;
  line-height: 10px;
  font-family: "Caveat", cursive;
  font-size: 25px;
}

.container {
  display: flex;
  justify-content: center;
}

.anecdotes {
  width: 400px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.feed-text {
  text-align: center;
  font-family: "Caveat", cursive;
  color: #00539f;
}

.statistic-text {
  text-align: center;
  margin: 1vh 1vw;
  font-family: "Catamaran", sans-serif;
  font-size: 20px;
}

.statistic-text2 {
  text-align: center;
  margin: 1vh 1vw;
  font-family: "Caveat", cursive;
  font-size: 30px;
}
